$colorRed : #FF4240;
$colorBlack : rgb(13, 13, 13);


// boutons reseaux sociaux fixes
.socialFixe {
    position: fixed;
    left: -50px;
    top: 300px;
    text-align: right;
    .fab{
        height: 30px;
        width: 30px;
        line-height: 30px;
        background-color: white ;
        border-radius: 50%;
        margin-right: 2px;
        text-align: center;
        color: black;
        margin-left: 15px; 
    }
    li:first-child{
        background-color: rgb(37, 37, 170); 
    }
    li:nth-child(2){
        background-color: turquoise; 
    }
    li:nth-child(3){
        background-color: rgb(74, 73, 167);
    }
    li:nth-child(4){
        background-color: purple;
    }
    li:last-child{
        background-color: red;
    }
}
// Formulaire signUp
.signUpForm{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    margin:8% auto 0;
    text-align: center;
    position: fixed;
    top : 0;
    left: 35%;
    display: none;
    /* display: none; */
    h1{
        color:#1c8adb;
        margin-bottom:30px; 
    }
    button{
        color: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        font-size: 15px;
        margin: 10px 0 ;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1c8adb;
    }
    a{
        text-decoration: none;    
    }
}
.inputBox{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border:1px solid #999;
    outline: none;
}

#contactUs{
    display: flex;
    height: 200px;
    align-items: center;
    button{
        margin-left: 50px;
        border: 0;
        border-left:5px solid rgb(230, 21, 21);
        height: 30px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        z-index: 2000;    
    }
}
#formContact{
    width: 80%;
    margin: auto;
    display: none;
}
#contactText{
    height: 200px;
}

footer {
    background-color: $colorBlack;
    color: white;
    text-transform: uppercase;
}


#h2Subscribe {
    color: $colorRed;
    padding-top: 40px;
}

#buttonSubscribe{
    background-color:$colorRed;
    border: 1px solid $colorRed;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
}

.bord{
    border-bottom: 2px solid rgb(29, 29, 29);
    padding-bottom: 10px;
    padding-top: 10px;

    ul {
        list-style: none;
        padding-left: 0px;
        
        li {
            text-align: left;
            a {
                text-decoration: none !important;
                color: grey;
                
            }
            a:hover {
                text-decoration: none !important;
                color: grey;
            }
        }
    }
}



.review {
    color: white;
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(73, 73, 73);
    padding: 4px 5px;
    margin: 0px 0px 4px 4px;
}

.latestList {
    color: grey;
    .latest{
        font-size: xx-small;    
    }
}

aside{
    div.row {
        display: flex;
        flex-direction: row;
    }
    padding: 0px;
    
    #allez {
        color: $colorRed;
        font-size: xx-large;
    }
    #cine {
        color: white;
        font-size: xx-large;
    }
}

#connectUs{
    padding-left: 30px;
    padding-top: 10px;
}

#reseauxSociaux{
    border-top: 2px solid rgb(29, 29, 29);
    margin-top: 8%;
    
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0px;
        padding-left: 0px;
        


        li{
            padding: 3px;
            border: 1px solid white;
            margin-left: 5px;
            list-style: none;
            a {
                padding: 10px 5px;
                color: white;
            }
        }
        
    }
}
#arrowUp{
    i {
        background-color: white;
        border: 2px solid $colorRed;
        border-radius: 50%;
    }
    background-color: $colorBlack;
    border: 1px solid $colorBlack;
}
