$colorRed : #FF4240;
$colorBlack : rgb(13, 13, 13);
footer {
    background-color: $colorBlack;
    color: white;
    text-transform: uppercase;
}


#h2Subscribe {
    color: $colorRed;
}

#buttonSubscribe{
    background-color:$colorRed;
    border: 1px solid $colorRed;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
}

.bord{
    border-bottom: 2px solid rgb(29, 29, 29);
    padding-bottom: 10px;
    padding-top: 10px;

}


ul {
    list-style: none;
    padding-left: 0px;
    
    li {
        text-align: left;
        a {
            text-decoration: none !important;
            color: grey;
            
        }
        a:hover {
            text-decoration: none !important;
            color: grey;
        }
    }
}

.review {
    color: white;
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(73, 73, 73);
    padding: 4px 5px;
    margin: 0px 0px 4px 4px;
}

.latestList {
    color: grey;
    .latest{
        font-size: xx-small;    
    }
}

aside{
    div.row {
        display: flex;
        flex-direction: row;
    }
    padding: 0px;
    
    #allez {
        color: $colorRed;
        font-size: xx-large;
    }
    #cine {
        color: white;
        font-size: xx-large;
    }
}

#connectUs{
    padding-left: 30px;
    padding-top: 10px;
}

#reseauxSociaux{
    border-top: 2px solid rgb(29, 29, 29);
    margin-top: 8%;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0px;
        padding-left: 0px;
        li{
            padding: 3px;
            border: 1px solid white;
            margin-left: 5px;
            a {
                padding: 10px 5px;
                color: white;
            }
        }
        
    }
}
#arrowUp{
    i {
        background-color: white;
        border: 2px solid $colorRed;
        border-radius: 50%;
    }
    background-color: $colorBlack;
    border: 1px solid $colorBlack;
}