$colorRed : #FF4240;
$colorBlack : rgb(13, 13, 13);

.featuresMovies{
    #h2Features{
        border-left: 4px solid $colorRed;
        text-transform: uppercase;
    }
    .buttonRed{
        background-color: $colorRed;
        color: white;
        text-align: center;
        border: 1px solid $colorRed;
        padding: 10px 2px;
        
    }
    .buttonGrey{
        background-color: grey;
        border: 1px solid grey;
        padding: 5px 2px;
    }
    .hide{
        display: none;
    }
    #moreFeatures{
        text-transform: uppercase;
    }
    #lessFeatures{
        text-transform: uppercase;
        display: none;
    }
}

footer {
    background-color: $colorBlack;
    color: white;
    text-transform: uppercase;
}


#h2Subscribe {
    color: $colorRed;
    padding-top: 40px;
}

#buttonSubscribe{
    background-color:$colorRed;
    border: 1px solid $colorRed;
    border-radius: 0.1rem;
    color: white;
    text-transform: uppercase;
}

.bord{
    border-bottom: 2px solid rgb(29, 29, 29);
    padding-bottom: 10px;
    padding-top: 10px;

    ul {
        list-style: none;
        padding-left: 0px;
        
        li {
            text-align: left;
            a {
                text-decoration: none !important;
                color: grey;
                
            }
            a:hover {
                text-decoration: none !important;
                color: grey;
            }
        }
    }
}



.review {
    color: white;
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(73, 73, 73);
    padding: 4px 5px;
    margin: 0px 0px 4px 4px;
}

.latestList {
    color: grey;
    .latest{
        font-size: xx-small;    
    }
}

aside{
    div.row {
        display: flex;
        flex-direction: row;
    }
    padding: 0px;
    
    #allez {
        color: $colorRed;
        font-size: xx-large;
    }
    #cine {
        color: white;
        font-size: xx-large;
    }
}

#connectUs{
    padding-left: 30px;
    padding-top: 10px;
}

#reseauxSociaux{
    border-top: 2px solid rgb(29, 29, 29);
    margin-top: 8%;
    
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0px;
        padding-left: 0px;
        


        li{
            padding: 3px;
            border: 1px solid white;
            margin-left: 5px;
            list-style: none;
            a {
                padding: 10px 5px;
                color: white;
            }
        }
        
    }
}
#arrowUp{
    i {
        background-color: white;
        border: 2px solid $colorRed;
        border-radius: 50%;
    }
    background-color: $colorBlack;
    border: 1px solid $colorBlack;
}
